### Working with Dates in Python

In [1]:
import datetime
s = '2019-01-24 2:10 PM'

In [2]:
# format codes: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
dt = datetime.datetime.strptime(s, '%Y-%m-%d %I:%M %p')
dt

datetime.datetime(2019, 1, 24, 14, 10)

In [3]:
# print so it shows like: "January 24, 2019"
dt.strftime('%B %d, %Y')

'January 24, 2019'

In [4]:
# get datetime right now
now = datetime.datetime.now()
now

datetime.datetime(2018, 8, 25, 10, 29, 25, 682186)

In [5]:
# get timezone-aware datetime
import pytz  # conda install pytz
now_west_coast = datetime.datetime.now(tz=pytz.timezone('America/Los_Angeles'))
now_west_coast.strftime('%Y-%m-%d %I:%M %p')

'2018-08-25 10:29 AM'

In [6]:
# convert to east coast datetime
now_east_coast = now_west_coast.astimezone(tz=pytz.timezone('America/New_York'))
now_east_coast.strftime('%Y-%m-%d %I:%M %p')

'2018-08-25 01:29 PM'

In [7]:
len(pytz.all_timezones)

591

### Working with Dates in Pandas

In [8]:
import pandas as pd
df = pd.read_excel('./sales_data.xlsx')
df.head()

   OrderDate   Region      Rep    Item  Units  Unit Cost   Total
0 2016-01-06     East    Jones  Pencil     95       1.99  189.05
1 2016-01-23  Central   Kivell  Binder     50      19.99  999.50
2 2016-02-09  Central  Jardine  Pencil     36       4.99  179.64
3 2016-02-26  Central     Gill     Pen     27      19.99  539.73
4 2016-03-15     West  Sorvino  Pencil     56       2.99  167.44

In [9]:
# get specific date properties
# df['OrderDate'].dt.year.head()
df['OrderDate'].dt.dayofweek.head()  # Monday=0, Sunday=6

0    2
1    5
2    1
3    4
4    1
Name: OrderDate, dtype: int64

In [10]:
# get data from March, 2017
# df[(df['OrderDate'].dt.year == 2017) & (df['OrderDate'].dt.month == 3)]
# df.set_index('OrderDate')['2017-03']

# get data from March + April, 2017
df.set_index('OrderDate')['2017-03':'2017-04']

             Region      Rep     Item  Units  Unit Cost   Total
OrderDate
2017-03-07     West  Sorvino   Binder      7      19.99  139.93
2017-03-24  Central  Jardine  Pen Set     50       4.99  249.50
2017-04-10  Central  Andrews   Pencil     66       1.99  131.34
2017-04-27     East   Howard      Pen     96       4.99  479.04