In [1]:
import pandas as pd

### Number formatting

In [2]:
df = pd.DataFrame({
    'name': ['Steve', 'Mike', 'Lauren', 'Michelle', 'Stephanie'],
    'age': [23, 42, 28, 31, 39],
    'payment': [1330.00, 1482.33, 873.43, 915.37, 1201.33],
    'net_change': [1.122, -2.317, -2.353, 2.749, -1.925],
    'percent_completed': [.63, .52, .72, .91, .33],
    'large_nums': [104214, 321094, 31272, 27904, 1471294]
})

In [3]:
# pd.options.display.float_format = '${:,.2f}'.format  # bad
# df['payment'] = df['payment'].map('${:,.2f}'.format)  # bad 
formatter = {
    'payment': '${:,.2f}',
    'percent_completed': '{:,.1%}',
    'net_change': '{:+.2f}',
    'large_nums': '{:.1e}'
}  # best

In [4]:
df.style.format(formatter)

### Mappings

In [5]:
df = pd.DataFrame({
    'name': ['Steve', 'Mike', 'Lauren', 'Michelle', 'Stephanie'],
    'shirt_size': ['large', 'medium', 'medium', 'small', 'medium']
})

In [6]:
size_to_scale = {'small': 1, 'medium': 2, 'large': 3}

In [7]:
df['scale'] = df['shirt_size'].map(size_to_scale)
df

        name shirt_size  scale
0      Steve      large      3
1       Mike     medium      2
2     Lauren     medium      2
3   Michelle      small      1
4  Stephanie     medium      2

In [8]:
series_scale = pd.Series(size_to_scale)
series_scale

small     1
medium    2
large     3
dtype: int64

In [9]:
df['scale2'] = df['shirt_size'].map(series_scale)
df

        name shirt_size  scale  scale2
0      Steve      large      3       3
1       Mike     medium      2       2
2     Lauren     medium      2       2
3   Michelle      small      1       1
4  Stephanie     medium      2       2

In [10]:
df['percent_of_total'] = df['scale'] / df['scale'].sum()
df

        name shirt_size  scale  scale2  percent_of_total
0      Steve      large      3       3               0.3
1       Mike     medium      2       2               0.2
2     Lauren     medium      2       2               0.2
3   Michelle      small      1       1               0.1
4  Stephanie     medium      2       2               0.2

In [11]:
df['percent_of_total2'] = df['scale'].apply(lambda i: i / df['scale'].sum())
df

        name shirt_size  scale  scale2  percent_of_total  percent_of_total2
0      Steve      large      3       3               0.3                0.3
1       Mike     medium      2       2               0.2                0.2
2     Lauren     medium      2       2               0.2                0.2
3   Michelle      small      1       1               0.1                0.1
4  Stephanie     medium      2       2               0.2                0.2

In [12]:
def write_summary(row):
    return '{} is a {}'.format(row["name"], row["shirt_size"])

In [13]:
df['sumamry'] = df.apply(write_summary, axis=1)
df

,name,shirt_size,scale,scale2,percent_of_total,percent_of_total2,sumamry
0,Steve,large,3,3,0.3,0.3,Steve is a large
1,Mike,medium,2,2,0.2,0.2,Mike is a medium
2,Lauren,medium,2,2,0.2,0.2,Lauren is a medium
3,Michelle,small,1,1,0.1,0.1,Michelle is a small
4,Stephanie,medium,2,2,0.2,0.2,Stephanie is a medium