### Creating a SQL database with sqlalchemy

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.orm import relationship, Session
import pymysql
import os
import pandas as pd

In [2]:
# Base class for creating tables
Base = declarative_base()

In [3]:
# Create classes which represent our tables
class Person(Base):
    __tablename__ = 'person'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    pets = relationship('Pet', backref='person')

    def __repr__(self):
        return f'<{self.name} the person>'

class Pet(Base):
    __tablename__ = 'pet'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    person_id = Column(Integer, ForeignKey('person.id'))

    def __repr__(self):
        return f'<{self.name} the pet>'

In [4]:
# Create instances of people and pets
person1 = Person(name='Johnny')
person2 = Person(name='Brad')
person3 = Person(name='Sarah')
pet1 = Pet(name='Shiloh', person=person1)
pet2 = Pet(name='Packets', person=person1)
pet3 = Pet(name='Molly', person=person2)
pet4 = Pet(name='Spot', person=person3)

In [5]:
# Getting data from class
# person1.name
# person1.pets
pet3.person.name

'Brad'

In [6]:
# Create database connection
pymysql.install_as_MySQLdb()
# f'mysql://{username}:{password}@localhost:3306/{db_name}'
username = os.environ['MYSQL_USERNAME']
password = os.environ['MYSQL_PASSWORD']
db_name = os.environ['MYSQL_DB_NAME']
engine = create_engine(f'mysql://{username}:{password}@localhost:3306/{db_name}')

In [7]:
# Create tables
Base.metadata.create_all(engine)

In [8]:
# Create session
session = Session(bind=engine)

In [9]:
# Add data to database
session.add_all([person1, person2, person3, pet1, pet2, pet3, pet4])
session.commit()

### Raw SQL vs. SQL Alchemy

In [10]:
# SELECT * FROM person;
# pd.read_sql('SELECT * FROM person', con=engine.connect())
session.query(Person).all()

In [11]:
# SELECT * FROM pet;
session.query(Pet).all()

In [12]:
# SELECT COUNT(*) FROM pet;
# len(session.query(Pet).all())
session.query(Pet).count()

4

In [13]:
# SELECT * FROM pet ORDER BY name DESC;
session.query(Pet).order_by(Pet.name.desc()).all()

In [14]:
# SELECT * FROM pet WHERE name = 'Shiloh' LIMIT 1;
session.query(Pet).filter_by(name='Shiloh').first()

In [15]:
# SELECT name FROM pet WHERE name LIKE 'S%';
[obj.name for obj in session.query(Pet).filter(Pet.name.like('S%')).all()]

['Shiloh', 'Spot']

In [16]:
# SELECT * FROM pet 
# INNER JOIN person ON person.id = pet.person_id 
# WHERE person.name = 'Johnny';
session.query(Person).filter_by(name='Johnny').first().pets

In [17]:
# SELECT person.name FROM pet 
# INNER JOIN person ON pet.person_id = person.id 
# WHERE pet.name = 'Shiloh';
session.query(Pet).filter_by(name='Shiloh').first().person.name

'Johnny'

In [18]:
# Number of pets per person
{person.name: len(person.pets) for person in session.query(Person).all()}

{'Johnny': 2, 'Brad': 1, 'Sarah': 1}

In [19]:
# Update Packets' name to "Packy"
# UPDATE pet SET name = 'Packy' WHERE name = 'Packets';
packets = session.query(Pet).filter_by(name='Packets').first()
packets.name = 'Packy'
session.add(packets)
session.commit()

### Generate raw SQL from sqlalchemy query

In [21]:
from sqlalchemy.dialects import mysql
q = session.query(Pet).order_by(Pet.name.desc())
print(str(q.statement.compile(dialect=mysql.dialect())))

SELECT pet.id, pet.name, pet.person_id
FROM pet ORDER BY pet.name DESC

### Raw SQL vs. SQLAlchemy vs. Pandas

Raw SQL: dealing only with data
- faster

SQLAlchemy + Pandas: using data in python applications
- consistent across different databases (mysql, oracle, postgresql, etc.)
- more secure